<div class="contact-header">
  <div class="contact-map">
    {{'home.contact' | translate}} <span style="font-size:20px;display: inline-block;height:40px;vertical-align: bottom;">&bull;</span> {{'contact.title' | translate}}
  </div>
</div>
<div class="contact-wrap">
  <div class="app-container contact-box">
    <div class="contact-content">
      <div class="contact-qrcode">
        <div class="contact-qrcode-flex">
          <div class="contact-qrcode-img"><img src="/assets/img/qr_zh.png"></div>
          <div class="contact-qrcode-text">中文服务</div>
        </div>
        <div class="contact-qrcode-flex">
          <div class="contact-qrcode-img"><img src="/assets/img/qr_en.png"></div>
          <div class="contact-qrcode-text">English Service</div>
        </div>
      </div>
      <div class="contact-addr">
        <!--<div><img style="margin-right:19px" src="/assets/img/ic_address.png"><span>{{'contact.address' | translate}}</span></div>-->
        <div><img style="margin-right:19px" src="/assets/img/ic_email.png"><span>jxunbo@zfbctec.com</span></div>
      </div>
    </div>
  </div>
</div>
