<nz-header>
  <div class="app-container">
    <div class="home-top">
      <div class="home-logo"></div>
      <div class="home-menu">
        <ul nz-menu [nzMode]="'horizontal'">
          <li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'"><a routerLink="/index">{{'home.home' | translate}}</a></li>
          <li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'"><a routerLink="/client">{{'home.client' | translate}}</a></li>
          <li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'"><a routerLink="/whitepaper">{{'home.whitepaper' | translate}}</a></li>
          <li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'"><a routerLink="/team">{{'home.team' | translate}}</a></li>
          <li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'"><a routerLink="/contact">{{'home.contact' | translate}}</a></li>
        </ul>
      </div>
      <div class="home-i18n"><app-i18n></app-i18n></div>
    </div>
  </div>
</nz-header>
