<nz-footer>
  <div class="footer-wrap">
    <div class="buttom">
      <div class="link">{{'contact.contact' | translate}}</div>
      <div class="link-icon">
        <a href="#"><img src="/assets/img/ic_we_chat.png"></a>
        <a href="#"><img src="/assets/img/ic_qq.png"></a>
        <a href="#"><img src="/assets/img/ic_weibo.png"></a>
        <a href="#"><img src="/assets/img/ic_facebook.png"></a>
        <a href="#"><img src="/assets/img/ic_telegram.png"></a>
      </div>
    </div>
    <div class="foot">
      <a routerLink="/client">{{'home.client' | translate}}</a>
      <a routerLink="/whitepaper">{{'home.whitepaper' | translate}}</a>
      <a routerLink="/team">{{'home.team' | translate}}</a>
      <a routerLink="/contact">{{'home.contact' | translate}}</a>
    </div>
  </div>
</nz-footer>
