<div class="team-header">
  <div class="team-header-bg">
    <div class="team-header-text">{{'team.title' | translate}}</div>
  </div>
</div>
<div class="team-content">
  <div class="app-container">
    <div class="team-people">
      <div class="team-one">
        <div class="team-avatar">
          <svg class="icon" aria-hidden="true" style="width:109px;height: 116px">
            <use xlink:href="#icon-touxiang_Tim"></use>
          </svg>
        </div>
        <div class="team-name">Tim Zhu {{'team.ceo' | translate}}</div>
        <div class="team-text">{{'team.ceo_describe' | translate}}</div>
      </div>
      <div class="team-two">
        <div class="team-avatar">
          <svg class="icon" aria-hidden="true" style="width:109px;height: 116px">
            <use xlink:href="#icon-will"></use>
          </svg>
        </div>
        <div class="team-name">Will Chow {{'team.coo' | translate}}</div>
        <div class="team-text">{{'team.coo_describe' | translate}}</div>
      </div>
      <div class="team-three">
        <div class="team-avatar">
          <svg class="icon" aria-hidden="true" style="width:109px;height: 116px">
            <use xlink:href="#icon-touxiang_Chase"></use>
          </svg>
        </div>
        <div class="team-name">Chase Jiang {{'team.cpo' | translate}}</div>
        <div class="team-text">{{'team.cpo_describe' | translate}}</div>
      </div>
      <div class="team-four">
        <div class="team-avatar">
          <svg class="icon" aria-hidden="true" style="width:109px;height: 116px">
            <use xlink:href="#icon-touxiang_Burton"></use>
          </svg>
        </div>
        <div class="team-name">Burton Sun {{'team.blockChainEngineer' | translate}}</div>
        <div class="team-text">{{'team.blockChainEngineer_describe' | translate}}</div>
      </div>
    </div>
  </div>
</div>
